# Notes
# 1. the use of index.html is a CodeIgniter convention
# 2. the noted rules are valid for an application named
#     _application
#    add/change according Your setup


# Ignore the backups but keep trace of
# the folder by memorizing index.html
CodeIgniter/temp/backups/*
!CodeIgniter/temp/backups/index.html

# Ignore the cache but keep trace of
# the folder by memorizing index.html
CodeIgniter/temp/cache/_application/*
!CodeIgniter/temp/cache/_application/index.html

# Ignore the logs but keep trace of
# the folder by memorizing .htaccess
CodeIgniter/temp/logs/_application/*
!CodeIgniter/temp/logs/_application/index.html
